body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.themecolor{
    color: rgb(250, 183, 0);
}
.white{
    color: #FFFFFF;
}
.pheading{
    font-size: 3rem;
    font-weight: 200;
}
.ppara{
    color: grey;
    font-size: 1.5rem;
}
.sheading{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 200;
}
.lpara{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 200;
}
.pbtn{
    background-color: #FAB700;
    border: none;
    padding: 1.2rem 3rem;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 100;
    font-size: .8rem;
}
.pbtn:hover{
    background-color: #fab70000;
    border: 2px solid #FAB700;
}

/* Navbar Section  */
#Navbar-Section::before{
    content: '';
    background: url('images/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 99vw;
    height: 100vh;
}
#navbar{
     display: flex;
    padding: 1rem 5rem;
    /* background-color: rgba(222, 221, 221, 0.127); */
    color: #FFFFFF;
}
#nav-list{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-item{
    margin: 2rem;
    cursor: pointer;
}
.nav-item:hover{
    color: #FAB700;
}
.logo{
    width: 20rem;
    height: 8rem;
}
.nav-left{
    width: 50%;
}
.nav-right{
    width: 50%;
    text-align: right;
}

/* Mobile Navbar  */
#mobile-navbar{
    display: none;
    align-items: center;
    padding: 0rem 5rem;
}
#mobile-list{
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 0;
    list-style: none;
    /* background-color: rgba(250, 183, 0, 0.281); */
}
.mobile-item{
    color: #FFFFFF;
    font-size: 2.5rem;
    margin: 1.5rem auto;
    padding: .2rem 0rem;
    width: 95vw;
    text-align: center;
    border: 2px solid rgb(63, 63, 63);
}
.mobile-item:hover{
    color: #FAB700;
    cursor: pointer;
}
#hamicon{
    cursor: pointer;
}

#banner{
    z-index: 1;
    padding: 5rem;
    display: flex;
}
#banner-left{
    width: 50%;
}
#banner-right{
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

/* Form  */
#form{
    background-color: rgba(128, 128, 128, 0.241);
    padding: 5rem 2rem;
}
#form-heading{
    color: #FFFFFF;
    text-align: left;
    font-size: 2rem;
}
.ffield{
    display: block;
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;

}
.hfield{
    width: 47%;
    margin: .5rem 0;
    padding: .5rem;
}
.field-box{
    cursor: pointer;
}
#form-btn{
    width: 100%;
    padding: .5rem;
    background-color: #FAB700;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}
#form-btn:hover{
    background-color: #fab70000;
    border: 2px solid #FAB700;
}

/* Services Section  */

#services{
    text-align: center;
    padding: 5rem;
}
#service-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-box-title{
    display: flex;
}
